html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      border: 0;
      overflow: hidden; 
      display: block; 
}

.box {
    display: flex;
    flex-flow: column;
  
    height: 100%;
}

.top-bar {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #505080;
    border-bottom: 2px solid black;
    width: 100%;
}

.top-bar * {
    margin: 5px 5px;
}

.top-bar .push-left{
   flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-bar .push-right{
   flex: 0 1 auto;
   margin-left: auto;
}

#canvas-container{
    flex: 1 1 auto;
    //border: 10px dotted red;
}

#c {
    //border: 10px dotted pink;
}

.bottom-bar {
    bottom: 0;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00FFF0;
    border-top: 2px solid black;
    width: 100%;
}
.bottom-bar * {
    margin: 5px 10px;
}

.bottom-bar .push-left{
   flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom-bar .push-right{
   flex: 0 1 auto;
   margin-left: auto;
}


.lds-grid {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -104px 0 0 -104px;
}
.lds-grid div {
  position: absolute;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-top: 1px solid #3498db;
  border-bottom: 1px solid #3498db;
  background: #888;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 16px;
  left: 16px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 16px;
  left: 64px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 16px;
  left: 112px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 64px;
  left: 16px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 64px;
  left: 64px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 64px;
  left: 112px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 112px;
  left: 16px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 112px;
  left: 64px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 112px;
  left: 112px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
